@model ProjektZaliczeniowyASP.Models.CustomerList
@{
    
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@foreach (var item in Model.CustomerData)
{

    <li>@Html.ActionLink(item.FirstName + " " + item.LastName, "Random", "Movie")</li>
}